    <div class="footer">
      <div class="container">
        <div class="card">Quick Links</div>
        <div class="card">
          <div class="social facebook">
            <i class="fa fa-facebook icon"></i>
            <div class="text">Like</div>
          </div>
          <div class="social twitter">
            <i class="fa fa-twitter icon"></i>
            <div class="text">Follow</div>
          </div>
          <div class="social github">
            <i class="fa fa-github icon"></i>
            <div class="text">Watch</div>
          </div>
          <!--
          <div class="social google-plus">
            <i class="fa fa-google-plus icon"></i>
            <div class="text">Circle</div>
          </div>
          -->
        </div>
        <div class="card">Get In Touch</div>
      </div>
    </div>
    <!-- bower:js -->
    <!-- endbower -->
  </body>
</html>
