    <div class="footer">
      <div class="container">
        <div class="card">
          <h6 class="title">Quick Links</h6>
          <ul class="links">
            <li>
              <a href="#" title="Home">Home</a>
            </li>
            <li>
              <a href="#" title="Blog">Blog</a>
            </li>
            <li>
              <a href="#" title="Services">Services</a>
              <ul>
                <li>
                  <a href="#" title="Web Development">Web Development</a>
                </li>
                <li>
                  <a href="#" title="Search Engine Optimisation">Search Engine Optimisation</a>
                </li>
                <li>
                  <a href="#" title="IT Consulting">IT Consulting</a>
                </li>
                <li>
                  <a href="#" title="Web &amp; Email Hosting">Web &amp; Email Hosting</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" title="Contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="card">
          <h6 class="title">Social</h6>
          <div class="social facebook">
            <i class="fa fa-facebook icon"></i>
            <div class="text">Like</div>
          </div>
          <div class="social twitter">
            <i class="fa fa-twitter icon"></i>
            <div class="text">Follow</div>
          </div>
          <div class="social github">
            <i class="fa fa-github icon"></i>
            <div class="text">Watch</div>
          </div>
          <!--
          <div class="social google-plus">
            <i class="fa fa-google-plus icon"></i>
            <div class="text">Circle</div>
          </div>
          -->
        </div>
        <div class="card">
          <h6 class="title">Get In Touch</h6>
          <div class="information">
            <span class="title">Bradly Sharpe IT</span>
            <p>0403 567 735</p>
            <div>Google Map Here</div>
          </div>
        </div>
      </div>
    </div>
    <!-- bower:js -->
    <!-- endbower -->
    <script type="text/javascript">
      /*
      WebFontConfig = {
        google: { families: [ 'Lato:400,600:latin', 'Source+Sans+Pro:200:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      */
    </script>
  </body>
</html>
