<nav class="navigation">
  <ul>
    <li><a title="Home" href="/">Home</a></li>
    <li><a title="Blog" href="/blog/">Blog</a></li>
    <li><a title="Services" href="/services/">Services</a></li>
    <li><a title="Contact" href="/contact/">Contact</a></li>
  </ul>
</nav>
